.public-layout {
  width: 100vw;
  height: 100vh;
  overflow: auto;

  .layout {
    text-align: left;

    .header-menu {
      .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
        line-height: 31px;
        color: white;
      }
      [data-theme='dark'] .site-layout-content {
        background: #141414;
      }
      [data-theme='dark'] .logo {
        background: rgba(255, 255, 255, 0.3);
      }
    }

    .content {
      background-color: white;
      min-height: calc(100vh - 64px - 70px);
    }
  }
}
